<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        body {
            background-color: rgb(241, 242, 243)
        }

        .el-header {
            background-color: white
        }

        #footer_center h3 {
            color: white
        }

        #footer_center p {
            margin: 0
        }
        /*去掉指定某一个el-card的内边距*/
        #right_top_card>div{
            padding: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="80px">
            <div style="width: 1200px;margin: 0 auto">
                <el-row gutter="20">
                    <el-col span="6">
                        <img src="imgs/icon.png" width="200">
                    </el-col>
                    <el-col span="10">
                        <el-menu mode="horizontal" active-text-color="orange">
                            <el-menu-item index="1">首页</el-menu-item>
                            <el-menu-item index="2">食谱</el-menu-item>
                            <el-menu-item index="3">视频</el-menu-item>
                            <el-menu-item index="4">资讯</el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-col span="6">
                        <el-input style="position: relative;top: 15px" placeholder="请输入搜索的关键字">
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </el-col>
                    <el-col span="2">
                        <el-popover
                                placement="top-start"
                                title="欢迎来到烘焙坊!"
                                width="200"
                                trigger="hover">
                            <!--设置初始显示的内容-->
                            <div slot="reference">
                                <i style="font-size: 30px;position: relative;top: 20px" class="el-icon-user"></i>
                            </div>
                            <!--设置弹出的内容-->
                            <el-button type="info">注册</el-button>
                            <el-button type="warning">登录</el-button>
                        </el-popover>
                    </el-col>
                </el-row>
            </div>
        </el-header>
        <el-main style="width: 1200px;margin: 0 auto">
            <el-row gutter="20">
                <el-col span="18">
                    <el-card>
                        <h2 style="color: orange;text-align: center">
                            枣泥花式面包,隔壁小孩儿都馋哭了!
                        </h2>
                        <p style="font-size: 12px;color: #666;text-align: center">
                            作者:传奇哥 | 发布时间:2023/8/9 15:40:50 | 阅读次数:356
                        </p>
                        <el-divider></el-divider>
                        <el-card style="font-size: 12px">
                            <b style="color: #0aa1ed">摘要:</b>
                            之前做了枣泥馅，配上花式面包，好吃到爆。 枣泥花式面包的用料: 肉松面包面团等
                        </el-card>
                        <p style="height: 500px">文章正文</p>
                    </el-card>
                    <!--评论相关开始-->
                    <el-card style="margin-top: 20px">
                        <p>发一条友善的评论</p>
                        <el-divider></el-divider>
                        <el-row >
                            <el-col span="22">
                                <el-input placeholder="请输入评论的内容..."></el-input>
                            </el-col>
                            <el-col span="2">
                                <el-button>发布</el-button>
                            </el-col>
                        </el-row>
                        <!--评论列表开始-->
                        <el-row style="margin-top: 10px" v-for="item in 3">
                            <el-col span="2">
                                <el-avatar src="imgs/head.jpg"></el-avatar>
                            </el-col>
                            <el-col span="22">
                                <span style="color: orange;font-weight: bold">传奇哥:</span>
                                <p style="margin: 5px 0">看起来很好吃的样式!</p>
                                <span style="font-size: 12px;color: #666">2023/8/9 17:20:30</span>
                            </el-col>
                        </el-row>
                        <!--评论列表结束-->

                    </el-card>
                    <!--评论相关结束-->

                </el-col>
                <el-col span="6">
                    <el-card id="right_top_card">
                        <div style="background-image: url('imgs/avarbg.jpg');height: 90px"></div>
                        <div style="text-align: center;position: relative;top: -50px">
                            <img src="imgs/head.jpg" style="border: 5px solid white;
                            width: 90px;height: 90px;border-radius: 90px;">
                            <p style="font-weight: bold;margin: 0;font-size: 20px">传奇哥</p>
                            <i class="el-icon-edit">本文作者</i><br>
                            <i class="el-icon-time">2023/8/9/ 16:30:40</i>
                        </div>
                    </el-card>
                    <el-card style="margin: 10px 0">
                        <h3>作者其它文章</h3>
                        <el-divider></el-divider>
                        <el-row v-for="item in 4" gutter="20">
                            <el-col span="10">
                                <img src="imgs/a.jpg" width="100%" height="70">
                            </el-col>
                            <el-col span="14">
                                <p style="margin: 0;height: 50px">枣泥面包好吃到爆!</p>
                                <i class="el-icon-time">2023/8/9</i>
                            </el-col>
                        </el-row>
                    </el-card>
                    <el-card style="margin: 10px 0">
                        <h3>热门文章</h3>
                        <el-divider></el-divider>
                        <el-row v-for="item in 4" gutter="20">
                            <el-col span="10">
                                <img src="imgs/a.jpg" width="100%" height="70">
                            </el-col>
                            <el-col span="14">
                                <p style="margin: 0;height: 50px">枣泥面包好吃到爆!</p>
                                <i class="el-icon-time">2023/8/9</i>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>


        </el-main>
        <el-footer style="background-color: #2f3234;height: 280px;padding: 50px 0">
            <div style="width: 1200px;margin: 0 auto;text-align: center;color: #666">
                <el-row gutter="20">
                    <el-col span="8">
                        <img src="imgs/icon.png">
                        <p>教程灵感就看烘焙坊</p>
                        <p>烘焙行业网络社区平台</p>
                        <p>全国百城上千个职位等你来</p>
                    </el-col>
                    <el-col id="footer_center" span="8">
                        <el-row gutter="20">
                            <el-col span="8">
                                <h3>关于我们</h3>
                                <p>烘焙学院</p>
                                <p>烘焙食谱</p>
                                <p>分类信息</p>
                                <p>求职招聘</p>
                                <p>社区交流</p>
                            </el-col>
                            <el-col span="8">
                                <h3>服务与支持</h3>
                                <p>练习我们</p>
                                <p>广告投放</p>
                                <p>用户协议</p>
                                <p>友情链接</p>
                                <p>在线反馈</p>
                                <p>我发投稿</p>
                            </el-col>
                            <el-col span="8">
                                <h3>底部导航</h3>
                                <p>Archiver</p>
                                <p>手机版</p>
                                <p>小黑屋</p>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col span="8">
                        <p style="font-size: 60px;margin: 0">
                            <span style="color: orange">烘焙</span>坊
                        </p>
                        <p>烘焙行业网络社区平台</p>
                    </el-col>
                </el-row>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                recipeArr: [
                    {
                        "id": 27,
                        "title": "家常面包",
                        "imgUrl": "imgs/a.jpg",
                        "categoryName": "面包",
                        "nickName": "汤姆",
                        "userImgUrl": "imgs/head.jpg"
                    },
                    {
                        "id": 18,
                        "title": "爆浆抹茶甜甜圈面包，自带幸福感的小甜甜",
                        "imgUrl": "imgs/b.jpg",
                        "categoryName": "家常菜",
                        "nickName": "汤姆",
                        "userImgUrl": "imgs/head.jpg"
                    },
                    {
                        "id": 17,
                        "title": "心形火龙果椰蓉面包,任谁都抗拒不了",
                        "imgUrl": "imgs/c.jpg",
                        "categoryName": "小食",
                        "nickName": "汤姆",
                        "userImgUrl": "imgs/head.jpg"
                    },
                    {
                        "id": 16,
                        "title": "蔓越莓绿豆糕，味道还不错值得一试!",
                        "imgUrl": "imgs/d.jpg",
                        "categoryName": "面包",
                        "nickName": "汤姆",
                        "userImgUrl": "imgs/head.jpg"
                    },
                ]
            }
        },
        methods: {}
    })
</script>
</html>